@import "_variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: $hue-neutral;
}

body.correct {
  background-color: $hue-correct;
}

body.wrong {
  background-color: $hue-wrong;
}
